<form class="loginForm" [formGroup]="postFormGroup" (ngSubmit)="onSubmit()">
  <h3>Choose your Apartment/Building</h3>
  <div class="row mb-3">
    <div class="col-6">
      <label for="chooseApartment" class="form-label"
        >Choose your Apartment/Building</label
      >
      <select
        class="form-select"
        aria-label="Choose apartment"
        id="chooseApartment"
        name="chooseApartment"
        formControlName="chooseApartment"
      >
        <option selected>Select option</option>
        <option value="BPTP">BPTP</option>
        <option value="Signature Global">Signature Global</option>
        <option value="Gaur City">Gaur City</option>
        <option value="Amrapali Noida">Amrapali Noida</option>
        <option value="Tata Properties">Tata Properties</option>
        <option value="Builder Floor">Builder Floor</option>
      </select>
    </div>
    <div class="col-6">
      <label for="name" class="form-label">Enter the name of your</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        formControlName="name"
      />
    </div>
  </div>
  <h3>Is this a shared property?</h3>
  <div class="row mb-3">
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="shared"
          id="shared1"
          [value]="'Yes'"
          formControlName="shared"
        />
        <label class="form-check-label" for="shared1"> Yes </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="shared"
          id="shared2"
          checked
          [value]="'No'"
          formControlName="shared"
        />
        <label class="form-check-label" for="shared2"> No </label>
      </div>
    </div>
  </div>
  <h3>Property Details</h3>
  <div class="row mb-3">
    <div class="col-6">
      <label for="area" class="form-label">Squre Feet</label>
      <input
        type="text"
        class="form-control"
        id="area"
        name="area"
        formControlName="area"
      />
    </div>
    <div class="col-6">
      <div class="form-check mt-4">
        <input
          class="form-check-input"
          type="checkbox"
          id="negotiable"
          formControlName="negotiable"
        />
        <label class="form-check-label" for="negotiable"> Negotiable </label>
      </div>
      <label>Price Mode</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="Per Month"
          id="priceMode1"
          name="priceMode1"
        />
        <label class="form-check-label" for="priceMode1"> Per Month </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="Utility Included"
          id="utilityIncluded"
          name="utilityIncluded"
          formControlName="utilityIncluded"
        />
        <label class="form-check-label" for="utilityIncluded">
          Utility included in rent
        </label>
      </div>
    </div>
  </div>
  <h3>Is the room/apartment furnished</h3>
  <div class="row mb-3">
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="furnished"
          id="furnished1"
        />
        <label class="form-check-label" for="furnished1"> Yes </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="furnished"
          id="furnished2"
          checked
        />
        <label class="form-check-label" for="furnished2"> No </label>
      </div>
    </div>
  </div>
  <h3>Amenities included</h3>
  <div class="row">
    <div class="col-12 d-flex gap-4 flex-wrap">
      <div
        class="form-check"
        *ngFor="let amenity of amenitiesList; let i = index"
      >
        <input
          type="checkbox"
          class="form-check-input"
          [value]="amenity"
          (change)="onAmenityChange($event)"
        />
        <label class="form-check-label">{{ amenity }}</label>
      </div>
    </div>
  </div>
  <h3>Description</h3>
  <div class="row mb-3">
    <div class="col-12">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        formControlName="title"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        formControlName="description"
      ></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
