@let data = postData();
<div class="modal fade show" style="display: block">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
          Post Preview
        </h1>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-6 previewBox">
            <label>Apartment Name</label>
            <div>
              <strong>{{ data?.apartmentName }}</strong>
            </div>
          </div>
          <div class="col-6 previewBox">
            <label>Size</label>
            <div>
              <strong>{{ data?.area }}</strong>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 previewBox">
            <label>State</label>
            <div>
              <strong>{{ data?.state }}</strong>
            </div>
          </div>
          <div class="col-6 previewBox">
            <label>District</label>
            <div>
              <strong>{{ data?.district }}</strong>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 previewBox">
            <label>Rent</label>
            <div>
              <strong>{{ data?.rent }}</strong>
            </div>
          </div>
          <div class="col-6 previewBox">
            <label>Negotiable</label>
            <div>
              <strong>{{ data?.negotiable ? "Yes" : "No" }}</strong>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6 previewBox">
            <label>Shared</label>
            <div>
              <strong>{{ data?.shared }}</strong>
            </div>
          </div>
          <div class="col-6 previewBox">
            <label>Owner Name</label>
            <div>
              <strong>{{ data?.ownerName }}</strong>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label>Amenities</label>
          <ul style="margin-left: 50px">
            @for (item of data?.amenities; track $index){
            <li>{{ item }}</li>
            }
          </ul>
        </div>
        <div class="row mb-3">
          <div class="col-12 previewBox">
            <label>Title</label>
            <div>
              <strong>{{ data?.title }}</strong>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 previewBox">
            <label>Description</label>
            <div>
              <strong>{{ data?.description }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
